* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4 {display: none}
img {vertical-align: middle;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #CD3F3E;
    --primaryIconColorHover: #872341;

    --specialColor: #CD3F3E;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primaryBackgroundColor);
}

html {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label input, textarea, li {
    color: var(--secondaryTextColor);
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-between;
  z-index: 9999;

  position: relative;
  top: 0;
  width: 100%;
  height: 5vh;
  align-items: center;
  padding: 40px 100px; 
  top: 20px;
  background-color: rgba(var(--primaryBackgroundColor), 0.2);
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Optional margin for spacing */
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
  text-decoration: none;
  cursor:pointer;
}

nav ul li a:hover {
  color: var(--specialColor);
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primaryTextColor);
}



/* Responsive Nav Bar */
@media screen and (max-width: 768px) {
  .logo img {
      width: 50px; /* Adjust the width as needed */
  }
  
  nav {
      padding: 20px 30px; /* Adjust padding for smaller screens */
  }
  nav ul{
      gap: 1rem; /* Adjust gap for smaller screens */
      list-style: none;
      display: flex;
      flex-direction: column;
  }
  .nav {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      width: 40%;
      background-color: var(--primaryBackgroundColor);
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      padding: 10px;
  }

  .nav-list li{
      width: 100%;
  }
  .nav-list a {
      padding: 10px;
      text-align: center;
      text-decoration: none;
      color: var(--primaryTextColor);
  }

  .hamburger-menu {
      display: block;
  }
}

/* Title */
.title h1{
  text-align: center;
  text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 63px;
    letter-spacing: 2px;
    color: var(--primaryTextColor);
}

.title h1 span{
    color: var(--specialColor);
}

hr {
  margin: 30px 60px;
  color: var(--lineColor);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  background-color: var(--primaryBackgroundColor);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.heading{
  display: grid;
  position: relative;
  grid-template-columns: auto lfr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1 );
  }

  .heading img {
    position: relative;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
  }

