@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;

    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;

    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;

    --primaryIconColor: #CD3F3E;
    --primaryIconColorHover: #872341;

    --specialColor: #CD3F3E;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primaryBackgroundColor);
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label input, textarea, li {
    color: var(--secondaryTextColor);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    z-index: 9999;

    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    align-items: center;
    padding: 40px 100px; 
    top: 20px;
    background-color: rgba(var(--primaryBackgroundColor), 0.2);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Optional margin for spacing */
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryTextColor);
    text-decoration: none;
    cursor:pointer;
}

nav ul li a:hover {
    color: var(--specialColor);
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primaryTextColor);
}



/* Responsive Nav Bar */
@media screen and (max-width: 768px) {
    .column {
      width: 100%;
      display: block;
    }

    .logo img {
        width: 50px; /* Adjust the width as needed */
    }
    
    nav {
        padding: 20px 30px; /* Adjust padding for smaller screens */
    }
    nav ul{
        gap: 1rem; /* Adjust gap for smaller screens */
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 40%;
        background-color: var(--primaryBackgroundColor);
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .nav-list li{
        width: 100%;
    }
    .nav-list a {
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: var(--primaryTextColor);
    }

    .hamburger-menu {
        display: block;
    }
}


/* Contact Section */
#contact {
    padding: var(--sectionPadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

#contact .title h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 63px;
    letter-spacing: 2px;
    color: var(--primaryTextColor);
}

#contact h1 span{
    color: var(--primaryIconColor);
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: #9d9fa1;
}

.contact-form input:focus, .contact-form textarea:focus{
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem;
    background-color: var(--primaryIconColor);
    color: #FFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: var(--primaryIconColorHover);
}

.contact-item {
    display: flex;
    gap : 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdBackgroundColor);
    width: 60px;
    aspect-ratio: 1;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg{
    fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
    margin-bottom: .6rem;

}

/* Footer Section */
footer {
    margin-top:1rem;
    padding: 4rem 0;
    background: var(--primaryBackgroundColor);
    text-align: center;
}

.footer-icons{
    margin-bottom: 1rem;  
}


.footer-icons a {
    text-decoration: none;
    margin: 0 .5rem;
}

.footer-icons svg {
    width: 32px;
    height: 32px;
    fill: var(--primaryIconColor);
}


.footer-icons a:hover svg {
    fill: var(--primaryIconColorHover);
}

.copyright p a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}

.copyright p a:hover {
    color: var(--specialColor);
}